// basic scss

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
// variables
$black: #000;
$grey: #222;
$yellow: #ffd71b;
$white: #fff;
$fs-xl: 6.2rem;
$fs-large: 4.2rem;
$fs-medium: 2.6rem;
$fs-small: 2.2rem;
$fs-xsmall: 1.8rem;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  // we are assinging 1rem = 10px using 62.5% of 16px .. actually 1rem = 16px but we are reassinging it for ease of calculation
  @media (max-width: 767px) {
    font-size: 55%;
  }
  @media (max-width: 480px) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $fs-xsmall;
  background-color: $black;
  color: $white;
  line-height: 1.5;
}

// utility classes
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 10rem;
  @media (max-width: 767px) {
    padding: 0 5rem;
  }
  @media (max-width: 767px) {
    padding: 0 2rem;
  }
}

img {
  width: 100%;
}

.section-padding {
  margin: 8rem 0;
  @media (max-width: 767px) {
    margin: 4rem 0;
  }
}

// button style
.theme-btn {
  width: 100%;
  max-width: 25rem;
  background-color: $yellow;
  color: $black;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  font-size: $fs-small;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 1rem;
  transition: all 1s ease;
  cursor: pointer;
  &:hover {
    background-color: red;
    color: $white;
  }
}

// Typography

h1 {
  font-size: $fs-xl;
  font-weight: 700;
}

h2 {
  font-size: $fs-large;
  padding-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: $fs-small;
  font-weight: 700;
  color: $yellow;
  text-transform: uppercase;
}

h4 {
  font-size: $fs-medium;
  padding: 1rem 0;
}

p {
  font-size: $fs-xsmall;
  font-weight: 300;
}

// lets start

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;

  .nav-container {
    justify-content: space-between;
    padding: 2rem 10rem;
    background: $black;

    .logo, 
    .menu-icon {
      
      img {
        max-width: 6rem;
        cursor: pointer;
      }
    }
  }
}

.menu-links {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: $black;
  left: -100vw;
  transition: all 1s ease;

  .close-icon {
    position: absolute;
    right: 7rem;
    top: 3rem;
    cursor: pointer;
  }

  .menu-link-cont{
    height: 100%;
    width: 100%;
    flex-direction: column;

    li {
      text-align: center;
      padding: 3rem;

      a {
        color: $white;
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
        transition: all 0.5s ease;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.menu-links.active {
  left: 0;
  z-index: 99;
}

// hero section

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.8)), 
  url("../images/background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      background: linear-gradient(90deg, red 0%, #fff 100%, red);
      letter-spacing: 5px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 80%;
      animation: animate 5s linear infinite;
      position: relative;
    }

    p{
      font-size: 2rem;
      font-weight: 300;
      color: $white;
      margin: 2rem 0;
    }
  }
}

@keyframes animate {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.why-us {
  width: 100%;
  height: auto;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      max-width: 45rem;
    }
  }

  &__content {
    width: 60%;
    padding: 1rem;

    h3 {
      color: $yellow;
      text-transform: uppercase;
    }

    h2 {
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 700;
    }

  }

  &__image {
    width: 40%;
    text-align: right;

    img {
      border-radius: 1.5rem;
    }
  }
}

// Explore section

.explore {
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.8)),
    url("../images/bg-fixed.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;

  &__wrapper {
    flex-direction: column;

    .card-container {
      display: flex;
      justify-content: space-between;

      .cards {
        padding: 4rem 2rem;
        background: $grey;
        margin: 2rem;
        transition: all 1s ease;

        img {
          max-width: 5rem;
        }
  
        &:hover {
          transform: translate(-10px);
          background: rgb(red, 0.5);
        }
      }
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-between;

  .cards {
    padding: 4rem 2rem;
    background: $grey;
    margin: 2rem;
    transition: all 1s ease;

    img {
      max-width: 5rem;
    }

    &:hover {
      transform: translate(-10px);
      background: rgb(red, 0.5);
    }
  }
}

.clients {
  width: 100%;
  background-color: $grey;
  padding: 6rem 0;

  &__wrapper {
    flex-direction: column;
  }

  .cards {
    text-align: center;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/bg-restaurant-portrait.jpg") no-repeat center;
    background-size: cover;

    p {
      font-size: $fs-small;
      font-style: italic;
      line-height: 2;
    }
  
    h3 {
      padding-top: 3rem;
    }

    &:hover {
      background: rgba($color: $black, $alpha: 1);
    }
  }
}

.gallery {
  width: 100%;

  &__wrapper {
    .i1 {
      grid-area: i1;
      overflow: hidden;
    }
    .i2 {
      grid-area: i2;
      overflow: hidden;
    }
    .i3 {
      grid-area: i3;
      overflow: hidden;
    }
    .i4 {
      grid-area: i4;
      overflow: hidden;
    }
    .i5 {
      grid-area: i5;
      overflow: hidden;
    }
    .i6 {
      grid-area: i6;
      overflow: hidden;
    }
    .i7 {
      grid-area: i7;
      overflow: hidden;
    }

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30rem 30rem 30rem;
    grid-template-areas:
      "i1 i1 i2 i3"
      "i1 i1 i4 i4"
      "i5 i6 i4 i4";
    

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;
      transition: all 1s ease;
    
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.contact-section {
  background: url("../images/map.png") no-repeat center;
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-top: 20rem;

  &__wrapper {
    padding: 3rem;
    background-color: $grey;
    width: 90%;
    margin: auto;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
  }
}

.getEmail {
  margin-bottom: 2rem;
  width: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
    url("../images/bg-footer.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 0;

    h2 {
      font-size: $fs-medium;
      font-weight: 400;
    }

    input {
      padding: 2rem;
      background-color: $black;
      width: 100%;
      border: 1px solid $white;
      border-radius: 1rem;
      &::placeholder {
        font-size: $fs-small;
      }
    }

    button {
      width: 100%;
      max-width: 40rem;
      font-size: $fs-small;
      background-color: $black;
      color: $white;
      border: 1px solid $white;
      font-weight: 400;
    }
  }
  .logo {
   max-width: 10rem;
  }
}

footer {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .footer-menu-links{
    li {
      padding: 1rem;
      text-align: center;

      a {
        color: $white;
        font-size: $fs-small;
        text-transform: uppercase;
      }
    }
  }

  .social-icons {
    margin: 2rem 0;

    img {
      max-width: 4rem;
      height: auto;
      border-radius: 50%;
      padding: 5px;
      transition: all 1s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  text-transform: uppercase;
}

// media queries

@media (max-width: 767px) {
  .hero-section {
    height: auto;

    &__wrapper {
      padding: 15rem 0 10rem 0;
      h1 {
        font-size: $fs-large;
      }
    }
  }

  .why-us {
    &__wrapper {
      flex-direction: column;
    }

    &__content,
    &__image {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;

      img {
        max-width: 100%;
      }
    }
  }

  .explore {
    &__wrapper {
      flex-direction: column;
    }
  }

  .gallery {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 10rem 10rem 15rem 10rem 10rem;
      grid-template-areas:
        "i1 i1"
        "i1 i1"
        "i2 i3"
        "i4 i4"
        "i5 i6"
        "i7 i7";
    }
  }

  .contact-section {
    &__wrapper {
      padding: 3rem;
      width: 90%;
      top: -10%;
    }
  }

  .card-container {
    flex-wrap: wrap;
    text-align: center;
  }

  .navbar {
    .nav-container {
      padding: 3rem;
    }
  }
}

@media (max-width: 480px) {
  .hero-section {
    &__wrapper {
      h1 {
        font-size: $fs-medium;
      }
    }
  }

  .why-us {
    &__wrapper {
      flex-direction: column;
    }
    &__image {
      width: 100%;
      text-align: center;
    }
  }

  .explore {
    &__wrapper {
      flex-direction: column;
    }
  }

  .gallery {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30rem 30rem 30rem 30rem 30rem 30rem;
      grid-template-areas:
        "i1 i1"
        "i2 i3"
        "i4 i4"
        "i5 i6"
        "i7 i7";
    }
  }

  .contact-section {
    &__wrapper {
      padding: 3rem;
      width: 100%;
      top: -10%;
    }
  }

  .card-container {
    flex-wrap: wrap;
    text-align: center;
  }
}