* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  background-color: #000;
  color: #fff;
  line-height: 1.5;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 10rem;
}
@media (max-width: 767px) {
  .container {
    padding: 0 5rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 2rem;
  }
}

img {
  width: 100%;
}

.section-padding {
  margin: 8rem 0;
}
@media (max-width: 767px) {
  .section-padding {
    margin: 4rem 0;
  }
}

.theme-btn {
  width: 100%;
  max-width: 25rem;
  background-color: #ffd71b;
  color: #000;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 1rem;
  transition: all 1s ease;
  cursor: pointer;
}
.theme-btn:hover {
  background-color: red;
  color: #fff;
}

h1 {
  font-size: 6.2rem;
  font-weight: 700;
}

h2 {
  font-size: 4.2rem;
  padding-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffd71b;
  text-transform: uppercase;
}

h4 {
  font-size: 2.6rem;
  padding: 1rem 0;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.navbar .nav-container {
  justify-content: space-between;
  padding: 2rem 10rem;
  background: #000;
}
.navbar .nav-container .logo img,
.navbar .nav-container .menu-icon img {
  max-width: 6rem;
  cursor: pointer;
}

.menu-links {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: #000;
  left: -100vw;
  transition: all 1s ease;
}
.menu-links .close-icon {
  position: absolute;
  right: 7rem;
  top: 3rem;
  cursor: pointer;
}
.menu-links .menu-link-cont {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.menu-links .menu-link-cont li {
  text-align: center;
  padding: 3rem;
}
.menu-links .menu-link-cont li a {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.menu-links .menu-link-cont li a:hover {
  color: #ffd71b;
}

.menu-links.active {
  left: 0;
  z-index: 99;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../images/background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-section__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-section__wrapper h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(90deg, red 0%, #fff 100%, red);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear infinite;
  position: relative;
}
.hero-section__wrapper p {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  margin: 2rem 0;
}

@keyframes animate {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.why-us {
  width: 100%;
  height: auto;
}
.why-us__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.why-us__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 45rem;
}
.why-us__content {
  width: 60%;
  padding: 1rem;
}
.why-us__content h3 {
  color: #ffd71b;
  text-transform: uppercase;
}
.why-us__content h2 {
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 700;
}
.why-us__image {
  width: 40%;
  text-align: right;
}
.why-us__image img {
  border-radius: 1.5rem;
}

.explore {
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/bg-fixed.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
}
.explore__wrapper {
  flex-direction: column;
}
.explore__wrapper .card-container {
  display: flex;
  justify-content: space-between;
}
.explore__wrapper .card-container .cards {
  padding: 4rem 2rem;
  background: #222;
  margin: 2rem;
  transition: all 1s ease;
}
.explore__wrapper .card-container .cards img {
  max-width: 5rem;
}
.explore__wrapper .card-container .cards:hover {
  transform: translate(-10px);
  background: rgba(255, 0, 0, 0.5);
}

.card-container {
  display: flex;
  justify-content: space-between;
}
.card-container .cards {
  padding: 4rem 2rem;
  background: #222;
  margin: 2rem;
  transition: all 1s ease;
}
.card-container .cards img {
  max-width: 5rem;
}
.card-container .cards:hover {
  transform: translate(-10px);
  background: rgba(255, 0, 0, 0.5);
}

.clients {
  width: 100%;
  background-color: #222;
  padding: 6rem 0;
}
.clients__wrapper {
  flex-direction: column;
}
.clients .cards {
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../images/bg-restaurant-portrait.jpg") no-repeat center;
  background-size: cover;
}
.clients .cards p {
  font-size: 2.2rem;
  font-style: italic;
  line-height: 2;
}
.clients .cards h3 {
  padding-top: 3rem;
}
.clients .cards:hover {
  background: black;
}

.gallery {
  width: 100%;
}
.gallery__wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30rem 30rem 30rem;
  grid-template-areas: "i1 i1 i2 i3" "i1 i1 i4 i4" "i5 i6 i4 i4";
}
.gallery__wrapper .i1 {
  grid-area: i1;
  overflow: hidden;
}
.gallery__wrapper .i2 {
  grid-area: i2;
  overflow: hidden;
}
.gallery__wrapper .i3 {
  grid-area: i3;
  overflow: hidden;
}
.gallery__wrapper .i4 {
  grid-area: i4;
  overflow: hidden;
}
.gallery__wrapper .i5 {
  grid-area: i5;
  overflow: hidden;
}
.gallery__wrapper .i6 {
  grid-area: i6;
  overflow: hidden;
}
.gallery__wrapper .i7 {
  grid-area: i7;
  overflow: hidden;
}
.gallery__wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 1s ease;
}
.gallery__wrapper img:hover {
  transform: scale(1.1);
}

.contact-section {
  background: url("../images/map.png") no-repeat center;
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-top: 20rem;
}
.contact-section__wrapper {
  padding: 3rem;
  background-color: #222;
  width: 70%;
  margin: auto;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%);
  flex-direction: column;
}

.getEmail {
  margin-bottom: 2rem;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../images/bg-footer.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.getEmail__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}
.getEmail__wrapper h2 {
  font-size: 2.6rem;
  font-weight: 400;
}
.getEmail__wrapper input {
  padding: 2rem;
  background-color: #000;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 1rem;
}
.getEmail__wrapper input::-moz-placeholder {
  font-size: 2.2rem;
}
.getEmail__wrapper input::placeholder {
  font-size: 2.2rem;
}
.getEmail__wrapper button {
  width: 100%;
  max-width: 40rem;
  font-size: 2.2rem;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 400;
}
.getEmail .logo {
  max-width: 10rem;
}

footer {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
footer .footer-menu-links li {
  padding: 1rem;
  text-align: center;
}
footer .footer-menu-links li a {
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
}
footer .social-icons {
  margin: 2rem 0;
}
footer .social-icons img {
  max-width: 4rem;
  height: auto;
  border-radius: 50%;
  padding: 5px;
  transition: all 1s ease;
}
footer .social-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .hero-section {
    height: auto;
  }
  .hero-section__wrapper {
    padding: 15rem 0 10rem 0;
  }
  .hero-section__wrapper h1 {
    font-size: 4.2rem;
  }
  .why-us__wrapper {
    flex-direction: column;
  }
  .why-us__content, .why-us__image {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .why-us__content img, .why-us__image img {
    max-width: 100%;
  }
  .explore__wrapper {
    flex-direction: column;
  }
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10rem 10rem 15rem 10rem 10rem;
    grid-template-areas: "i1 i1" "i1 i1" "i2 i3" "i4 i4" "i5 i6" "i7 i7";
  }
  .contact-section__wrapper {
    padding: 3rem;
    width: 90%;
    top: -10%;
  }
  .card-container {
    flex-wrap: wrap;
    text-align: center;
  }
  .navbar .nav-container {
    padding: 3rem;
  }
}
@media (max-width: 480px) {
  .hero-section__wrapper h1 {
    font-size: 2.6rem;
  }
  .why-us__wrapper {
    flex-direction: column;
  }
  .why-us__image {
    width: 100%;
    text-align: center;
  }
  .explore__wrapper {
    flex-direction: column;
  }
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30rem 30rem 30rem 30rem 30rem 30rem;
    grid-template-areas: "i1 i1" "i2 i3" "i4 i4" "i5 i6" "i7 i7";
  }
  .contact-section__wrapper {
    padding: 3rem;
    width: 100%;
    top: -10%;
  }
  .card-container {
    flex-wrap: wrap;
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */